.asignaturas-table {
    width: 100%;
    border-collapse: collapse;
  
    th {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
      background-color: rgba(212, 212, 212, 0.87);
    }

    td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
    }
  
   .arrow {
       font-size: 20px;
       color: black;
   }
  }

