.postulantes-table {
  width: 100%;
  border-collapse: collapse;

  th{
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgba(212, 212, 212, 0.87);
  }

  td{
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;

  }

 .arrow {
     font-size: 20px;
     color: black;
 }

 .res-icon {
  color: black;
  &.visited {
    color: black
  }
 }

 .hor-icon {
  color: black;
  &.visited {
    color: black  
  }
 }

 .check-tick {
  color: #157F1F;
 }
}