.postulantes-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }

 .arrow {
     font-size: 20px;
     color: black;
 }

 .res-icon {
  color: black;
  &.visited {
    color: grey
  }
 }

 .hor-icon {
  color: black;
  &.visited {
    color: grey
  }
 }

 .check-tick {
  color: #157F1F;
 }
}