.nav-bar {
  display: flex;
  background-color: #2f5e80;
  padding-left: 20px;
  margin-top: 2px;
  margin-left:2px;
  width: 98.5%;
  justify-content: end;

  
  .nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcb016;
    padding: 10px;
  }
  .home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d91728;
  }
}

